$mobile: 320px;
$tablet: 768px;
$desktop: 1200px;
$primary-color--light: #819ca9;
$primary-color--main: #546e7a;
$primary-color--dark: #29434e;
$primary-color--contrastText: #ffffff;
$secondary-color--light: #ffff8b;
$secondary-color--main: #ffee58;
$secondary-color--dark: #c9bc1f;
$secondary-color--contrastText: #000000;
$font-weight--light: 300;
$font-weight--main: 400;
$font-weight--semiBold: 500;
$font-weight--bold: 700;
$margin: 20px;

